@media (orientation: portrait) {
    .content {
        margin-right: 25px;
    }
    div.photo {
        display: inline;
    }

}

div.photo {
    width: 100%;
    height: 100vh;
    z-index: -4;
    left: 0;
    right: auto;
    background-color: black;
}

.photo picture {
    position: relative;
    left: 0;
}



img.bg {
    width: auto;
    height: 100%;
}

.title {
    width: auto;
    text-align: left;
    float: left;
}

.title h1 {
    margin-left: 0;
    text-align: left;
    color: white;
    font-family: "Tangerine", "Times New Roman", cursive;
    font-size: 56pt;
}

@media (max-width: 600px) {
    .title h1 {
        font-size: 36pt;
    }
}

.title hr {
    display: none;
}

.c-hamburger span {
    background-color: white;
}

.c-hamburger span::before, .c-hamburger span::after {
    background-color: white;
}

.c-hamburger:hover > span, .c-hamburger:hover > span::before, .c-hamburger:hover > span::after {
    background-color: white;
}

.c-hamburger-x span {
    transition: background-color 0s 0.25s;
}

.c-hamburger-x.is-active span {
    background-color: transparent;
    transition: background-color 0s 0.25s;
}