@media (orientation: portrait) {
    div.photo {
        display: inline;
    }

}

div.photo {
    width: 100%;
    height: 100vh;
    z-index: -4;
    left: 0;
    right: auto;
    background-color: black;
}

.photo picture {
    position: relative;
    left: 0;
}



img.bg {
    width: auto;
    height: 100%;
}

.title {
    width: auto;
}

.title h1 {
    margin-left: 0;
    text-align: left;
    color: white;
    font-family: "Tangerine", "Times New Roman", cursive;
    font-size: 56pt;
}

.title hr {
    display: none;
}

.c-hamburger span {
    background-color: white;
}

.c-hamburger span::before, .c-hamburger span::after {
    background-color: white;
}