<!DOCTYPE html>

{% load staticfiles %}
{% load homepage_includes %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rebecca Hare</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block stylesheet %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>

    <header>
        <div class="menu-header">
            <a href="{% url 'homepage:index' %}">
                <h1>Rebecca Hare</h1>
            </a>
        </div>
        <ul class="mainmenu">
            <li id="m1"><a href="{% url 'homepage:about' %}"><h2>About</h2></a></li>
            <li id="m2"><a href="{% url 'homepage:cv' %}"><h2>CV</h2></a></li>
            <li id="m3"><a href="{% url 'photologue:pl-photologue-root' %}"><h2>Gallery</h2></a></li>
            <li id="m4"><a href="{% url 'pinax_blog:blog' %}"><h2>Blog</h2></a></li>
        </ul>
        <div class="contact">
            {% contact_details %}
        </div>

    </header>



    <main>
        <div class="content">
        <div class="title">
            <button class="c-hamburger c-hamburger-x">
                <span>toggle menu</span>
            </button>
            <h1>
                {% block title %}
                {% endblock %}
            </h1>
            {% block submenu %}
            {% endblock %}
            <hr>
        </div>
        {% block content %}

        {% endblock %}
        </div>
    </main>

    <div class="photo">
        {% block photo %}
        {% endblock %}
    </div>
    <script src="{% static 'java/base.js' %}"></script>

</body>
</html>
