{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block photo %}
    <picture>
        <source srcset="{% static 'images/main_headshot_web_widened.jpg' %}" media="(orientation: landscape)">
        <source srcset="{% static 'images/main_headshot_2_web.jpg' %}" media="(orientation: portrait)">
        <img src="{% static 'images/main_headshot_4_web.jpg' %}"
             alt="Stunning headshot of Rebecca Hare"
             class="bg"/>
    </picture>
{% endblock %}
