{% extends 'base.html' %}

{% load staticfiles %}
{% load embed_video_tags %}

{% block title %}
Showreel
{% endblock %}

{% block content %}

    {% for showreel in showreels %}
        <h2>{{ showreel.title }}</h2>
        {% if showreel.description %}
          {{ showreel.description | safe | linebreaks }}
        {% endif %}
        {% video showreel.video '100% x 360' %}
        {% if not forloop.last %}
          <hr />
        {% endif %}
    {% endfor %}
{% endblock %}

{% block photo %}
    <img src="{% static 'images/main_headshot_5_web.jpg' %}" alt="Headshot 5." class="bg"/>
{% endblock %}
